.option {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 150%;
  }
  .menu-item,
  .menuitem {
    padding: var(--padding-7xs) var(--padding-base);
  }
  .menuitem {
    background-color: var(--primary-contrast);
    width: 347px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }
  .menu-item {
    align-self: stretch;
    background-color: var(--action-hover);
    justify-content: flex-start;
  }
  .list,
  .menu-item,
  .menuitem1,
  .menuitem3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menuitem1 {
    align-self: stretch;
    background-color: var(--primary-contrast);
    justify-content: center;
    padding: var(--padding-7xs) var(--padding-base);
  }
  .list,
  .menuitem3 {
    box-sizing: border-box;
  }
  .menuitem3 {
    background-color: var(--primary-contrast);
    width: 347px;
    justify-content: center;
    padding: var(--padding-7xs) var(--padding-base);
  }
  .list {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    text-align: left;
    font-size: var(--typography-body-1-size);
    color: var(--color-gray-400);
    font-family: var(--components-button-large);
  }
  